In [1]:
import pandas as pd
import numpy as np

In [2]:
spotify = pd.read_csv("C:/Users/Hp Pc/Downloads/Most Streamed Spotify Songs 2024.csv", encoding = "unicode_escape")

In [3]:
spotify.head(10)

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
5,Lovin On Me,Lovin On Me,Jack Harlow,11/10/2023,USAT22311371,6,410.1,"670,665,438","105,892","175,421,034",...,"4,654",86.0,"17,167,254",152.0,"138,529,362","50,982","9,438,601","4,517,131",NaN,1
6,Beautiful Things,Beautiful Things,Benson Boone,1/18/2024,USWB12307016,7,407.2,"900,158,751","73,118","201,585,714",...,429,168.0,"48,197,850",154.0,"65,447,476","57,372",NaN,"9,990,302",NaN,0
7,Gata Only,Gata Only,FloyyMenor,2/2/2024,QZL382406049,8,375.8,"675,079,153","40,094","211,236,940",...,30,87.0,"33,245,595",53.0,"3,372,428","5,762",NaN,"6,063,523",NaN,1
8,Danza Kuduro - Cover,ýýýýýýýýýýýýýýýýýýýýý - ýýýýýýýýýýýýýýýýýý -,MUSIC LAB JPN,6/9/2024,TCJPA2463708,9,355.7,"1,653,018,119",1,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,BAND4BAND (feat. Lil Baby),BAND4BAND (feat. Lil Baby),Central Cee,5/23/2024,USSM12404354,10,330.6,"90,676,573","10,400","184,199,419",...,117,78.0,"10,800,098",92.0,"1,005,626",842,"3,679,709","666,302",NaN,1

In [4]:
spotify.columns

Index(['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC',
       'All Time Rank', 'Track Score', 'Spotify Streams',
       'Spotify Playlist Count', 'Spotify Playlist Reach',
       'Spotify Popularity', 'YouTube Views', 'YouTube Likes', 'TikTok Posts',
       'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach',
       'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins',
       'Deezer Playlist Count', 'Deezer Playlist Reach',
       'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations',
       'Soundcloud Streams', 'Shazam Counts', 'TIDAL Popularity',
       'Explicit Track'],
      dtype='object')

In [5]:
features = ['Track Score', 'Spotify Streams', 'YouTube Views', 'TikTok Views', 'Pandora Streams', 'Soundcloud Streams', 'Explicit Track']

In [6]:
spotify[features].isnull().sum()

Track Score              0
Spotify Streams        113
YouTube Views          308
TikTok Views           981
Pandora Streams       1106
Soundcloud Streams    3333
Explicit Track           0
dtype: int64

In [7]:
data = spotify[features]
data = data.fillna(0)

In [8]:
data.isnull().sum()

Track Score           0
Spotify Streams       0
YouTube Views         0
TikTok Views          0
Pandora Streams       0
Soundcloud Streams    0
Explicit Track        0
dtype: int64

In [9]:
data

,Track Score,Spotify Streams,YouTube Views,TikTok Views,Pandora Streams,Soundcloud Streams,Explicit Track
0,725.4,"390,470,936","84,274,754","5,332,281,936","18,004,655","4,818,457",0
1,545.9,"323,703,884","116,347,040","208,339,025","7,780,028","6,623,075",1
2,538.4,"601,309,283","122,599,116","3,369,120,610","5,022,621","7,208,651",0
3,444.9,"2,031,280,633","1,096,100,899","14,603,725,994","190,260,277",0,0
4,423.3,"107,034,922","77,373,957",0,"4,493,884","207,179",1
...,...,...,...,...,...,...,...
4595,19.4,"305,049,963","149,247,747","143,934,379","20,104,066","50,633,006",1
4596,19.4,"52,282,360","943,920,245","19,935",0,0,0
4597,19.4,"189,972,685","201,027,333","36,849,005","84,426,740",0,1
4598,19.4,"145,467,020","1,118,595,159","37,757,301","6,817,840",0,0
4599,19.4,"255,740,653","866,300,755","70,196,388","69,006,739",0,1

In [10]:
data.dtypes

Track Score           float64
Spotify Streams        object
YouTube Views          object
TikTok Views           object
Pandora Streams        object
Soundcloud Streams     object
Explicit Track          int64
dtype: object

In [11]:
data = data.replace(regex=',', value='').astype(int)

In [12]:
#scale the data

data = ((data-data.min())/ (data.max()-data.min())) * 9 +1

In [13]:
data.describe()

,Track Score,Spotify Streams,YouTube Views,TikTok Views,Pandora Streams,Soundcloud Streams,Explicit Track
count,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,1.285417,1.917343,1.207222,1.035251,1.400123,1.115080,4.230217
std,0.491400,1.127303,0.377928,0.202138,0.927398,0.509810,4.317604
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.050992,1.133285,1.015558,1.000033,1.000004,1.000000,1.000000
50%,1.127479,1.475861,1.070771,1.004892,1.017873,1.000000,1.000000
75%,1.318697,2.285121,1.231834,1.024300,1.287111,1.003481,10.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [14]:
def random_centroids(data, k):
    centroids = []
    for i in range(k):
        centroid = data.apply(lambda x: float(x.sample())) #sample func picks a random number from each feature
        centroids.append(centroid)
    return pd.concat(centroids, axis=1)

In [15]:
centroids = random_centroids(data, 7)

C:\Users\Hp Pc\AppData\Local\Temp\ipykernel_3028\3288948173.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  centroid = data.apply(lambda x: float(x.sample())) #sample func picks a random number from each feature

In [16]:
centroids.T

,Track Score,Spotify Streams,YouTube Views,TikTok Views,Pandora Streams,Soundcloud Streams,Explicit Track
0,1.000000,3.815428,1.308321,1.000000,1.002113,1.000000,1.0
1,1.535411,1.120162,1.017161,1.000000,1.299651,1.000000,1.0
2,1.012748,1.093217,1.017583,1.145025,1.135735,1.139644,1.0
3,1.012748,3.444007,1.201913,1.043008,3.686005,1.000000,1.0
4,2.886686,3.365700,1.009866,1.003360,1.314530,1.000000,10.0
5,1.025496,1.045164,1.037703,1.030775,1.001029,1.000000,1.0
6,1.038244,1.294901,1.023685,1.005329,1.120903,1.019605,1.0

In [17]:
def get_labels(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data-x)**2).sum(axis=1)))
                                #Geometric distances formulae
    return distances.idxmin(axis=1)

In [18]:
labels = get_labels(data, centroids)

In [19]:
labels

0       1
1       4
2       1
3       0
4       4
       ..
4595    4
4596    5
4597    4
4598    6
4599    4
Length: 4600, dtype: int64

In [20]:
labels.value_counts()

4    1651
6    1088
5     833
0     376
1     346
3     269
2      37
Name: count, dtype: int64

In [21]:
#obtain Geometric mean of each features(cluster centroids)
def new_centroids(data, labels,k):
    data.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T

VISUALIZATION

In [22]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [25]:
def plot_clusters(data, labels, centroids, iteration):
    pca = PCA(n_components=2)
    data_2d = pca.fit_transform(data)
    centroids_2d = pca.transform(centroids)
    clear_output(wait=True)
    plt.title(f'Iteration{iteration}')
    plt.scatter(x=data_2d[:,0], y=data_2d[:,1], c=labels)
    plt.scatter(x=centroids_2d[:,0], y=centroids_2d[:,1])
    plt.show()

In [28]:
max_iteration = 100
k = 7

centroids = random_centroids(data, k)
#print(f'Centroids formed {centroids}')
old_centroids = pd.DataFrame()
iteration = 1

while iteration < max_iteration and not centroids.equals(old_centroids):
    old_centroids = centroids
    labels = get_labels(data, centroidss)
    centroids = new_centroids(data, labels, k)
    print(f'Iteration {iteration}: Centroids {centroids}')
    if centroids is not None:
        plot_clusters(data, labels, centroids, iteration)
    else:
        print("Centroids is None")
    iteration +=1

Iteration 1: Centroids None
Centroids is None

C:\Users\Hp Pc\AppData\Local\Temp\ipykernel_3028\3288948173.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  centroid = data.apply(lambda x: float(x.sample())) #sample func picks a random number from each feature

AttributeError: 'NoneType' object has no attribute 'equals'

In [29]:
centroids